# 기본 노드 파일
node_modules/

# 기본 파이썬 파일
__pycache__/

# 로그파일
logs/
*.log

# 웹팩 결과물 파일
dist/

# 개발중인 폴더 제외
TODO/
TEMP/

# DB
*.sqlite
*.csv
*.db
*.pkl
db/

# 세션 정보
sessions/
my-sessions/

# 작업 데이터 파일
file.txt
data.json
*.mp4
*.mp3
captcha.jpg
captcha*.jpg
*.traineddata
uploads/*
*.zip

# 패키지 파일 (임시 제외)
package-lock.json

# 민감정보 (credentials)
**/.env
cookie.txt
gapi-*.json

# nextjs
.next/
