<!-- navbar.html -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary shadow-sm py-3">
    <div class="container justify-content-center">
        <a class="navbar-brand font-weight-bold" href="/">Customer Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase" href="/orderitems">Order Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase" href="/stores">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-uppercase text-warning" href="/kiosk">Kiosk</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
