{% extends 'base.html' %}
{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="items">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">type</th>
                        <th scope="col">name</th>
                        <th scope="col">unit_price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pagination.items %}
                        <tr id={{ item.Id }}>
                            <td> {{ item.Id }} </td>
                            <td> {{ item.Type }} </td>
                            <td> {{ item.Name }} </td>
                            <td> {{ item.UnitPrice }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% if pagination %}
        {% set total_pages = pagination.totalPages %}
        {% for page in range(1, total_pages + 1) %}
            <a href="/items?page={{ page }}">{{ page }}</a>
        {% endfor %}
    {% endif %}

{% endblock %}
