<!-- navbar.html -->
<nav class="navbar navbar-expand-md main-nav">
    <div class="container justify-content-center">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orderitems">Order Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/items">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stores">Store</a>
            </li>
        </ul>
    </div>
</nav>
