{% extends 'base.html' %}
{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="stores">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">type</th>
                        <th scope="col">name</th>
                        <th scope="col">address</th>
                    </tr>
                </thead>
                <tbody>
                {% for store in pagination.items %}
                    <tr id={{ store.Id }}>
                        <td><a href="/stores/{{ store.Id }}">{{ store.Id }}</a></td>
                        <td> {{ store.Type}} </td>
                        <td> {{ store.Name }} </td>
                        <td> {{ store.Address }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div>
        <ul class="pagination">
            {% if pagination.currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pagination.currentPage - 1 }}">&lt;</a></li>
            {% endif %}
            
            {% for page in range(pagination.currentPage - 5, pagination.currentPage + 6) %}
                {% if page > 0 and page <= pagination.totalPages %}
                    <li class="page-item {% if page == pagination.currentPage %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if pagination.currentPage < pagination.totalPages %}
                <li class="page-item"><a class="page-link" href="?page={{ pagination.currentPage + 1 }}">&gt;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pagination.totalPages }}">&gt;&gt;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
