<!-- fruits.ejs -->
<html>
    <head>
        <title>Fruit List</title>
    </head>
    <body>
        <h1>Fruit List</h1>
        <ul>
            <% for (var i = 0; i < fruits.length; i++) { %>
                <li><%= fruits[i] %></li>
            <% } %>
        </ul>
    </body>
</html>
