<!-- welcome.ejs -->
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <% if (isAdmin) { %>
            <h1>Welcome, Admin!</h1>
        <% } else { %>
            <h1>Welcome, User!</h1>
        <% } %>
    </body>
</html>
