body {
    font-family: Arial, sans-serif;
}

.search {
    margin: 10px;
}

.search input {
    height: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffa500;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #b3eda8;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* 사용자 상세 페이지  */
#user-detail-container {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

.back-link:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #ffa500;
    color: white;
}

table tr:hover {
    background-color: #f9f9f9;
}
