.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
  list-style: none; /* 리스트 마커 제거 */
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center; /* 추가: 아이템을 세로 중앙으로 정렬 */
}
