/* TodoApp.css */

.todo-app {
    margin-top: 20px;
}

.todo-app h1 {
    color: #333;
}

.todo-app input[type='text'] {
    padding: 8px;
    font-size: 16px;
}

.todo-app button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.todo-app ul {
    list-style-type: none;
    padding: 0;
}

.todo-app li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.todo-app input[type='checkbox'] {
    margin-right: 8px;
    transform: scale(1.2);
}

.todo-app .delete-icon {
    color: red;
    cursor: pointer;
    font-size: 20px;
    margin-left: 12px;
}

.todo-app .completed {
    text-decoration: line-through;
    color: #aaa;
}
